[submodule "temporal-segment-networks/lib/caffe-action"]
	path = temporal-segment-networks/lib/caffe-action
	url = https://github.com/sevico/caffe
[submodule "temporal-segment-networks/lib/dense_flow"]
	path = temporal-segment-networks/lib/dense_flow
	url = https://github.com/yjxiong/dense_flow
